
    <div class="containter card mx-auto my-4">
      <div class="card-body">
	<h2 class="card-title">Sign in</h2>
	<div class='login_with_container'>
    <%= form_for :signin do |f| %>
	  <div class='card-item'><a class='login_using text-dark'><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
		<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
	      </svg><%= f.text_field :username, placeholder: "Username", class: "login_input" %></a></div>
	  <div class='card-item'><a class='login_using text-dark'><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
	      </svg><%= f.password_field :password, placeholder: "Password", class: "login_input" %></a></div>
	  <center>
      <%= f.submit "Sign in", class: 'login_button card-item mx-auto' %>
	    <div class='mt-3'><%= link_to "Don't have an account?", "/signup" %></div>
	  </center>
    <% end %>
	</div>
      </div>
    </div>
