<%= turbo_stream_from Table.where(id:@table.id) %>
<% if @user.id == @table.user_id %>
  <div class='code text-center m-3'>
    <p>Invitation Code: </p>
    <span class='inv_code'><%= @table.inv %></span>
  </div>
<% end %>
<% if @table.private == false or @table.user_id == @user.id %>
  <div class='create_note container my-4'>
    <div class='row mx-auto'>
      <h4 class='card-title my-0'>Create Note</h4>
      <%= form_for :note do |f| %>
      <div class='card-item'><a class='login_using text-dark'>
        <%= f.text_field :title, placeholder: "Note Title", class: "login_input", autocomplete: "off" %>
      </div>
      <div class='card-item'>
        <%= f.text_field :body, placeholder: "Note body", class: "login_input", autocomplete: "off" %>
      </div>
      <center>
        <%= f.submit "Create Note", class: 'login_button card-item mx-auto' %>
      </center>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container-fluid">
  <div class="row mx-auto text-center">
    <% @notes.each do |note| %>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <div class='note'>
        <div class='note-title'>
          <%=note.title %>
        </div>
        <%= note.body %>
        <% if @table.private == false or @table.user_id == @user.id %>
        <div class='delete'>
          <%= link_to "X", "/delete/" + note.id.to_s %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
