<%= turbo_stream_from "tables" %>
<%= form_for :c_table do |f| %>

<div class='create_table container'>
  <div class='row mx-auto'>
    <div class='table-sector mx-auto mx-auto mx-lg-4 my-3 my-lg-0 p-3 col-12'>
      <h4 class='card-title'>Create Table </h4>
      <%= f.text_field :title, class: "login_input table_title", placeholder: "Card title", autocomplete: "off" %>

      <label class="container-b">Owner can change notes
	<%= f.check_box :private %>
	<span class="checkmark"></span>
      </label>
      <center>
	<%= f.submit "Create", class: "create_button mx-auto" %>
      </center>
    </div>
    <div class='table-sector mx-auto mx-auto mx-lg-4 col-sm-5 my-3 my-lg-0 p-3 col-12'>
      <h4 class='card-title'>Join Table </h4>
      <%= form_for :join do |j| %>
      <%= j.text_field :code, class: "login_input table_title", placeholder: "Table code", autocomplete: "off"  %>

      <center>
        <%= j.submit "Join", class: "create_button mx-auto" %>
        <% end %>
      </center>
    </div>
  </div>
</div>
<% end %>
<div class="container-fluid">
  <div class="row mx-auto text-center">
    <% @tables.each do |table| %>
      <% if table.user_id == @user.id or Permition.find_by(user_id: @user.id, table_id: table.id) %>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <a href='/table/<%= table.id %>' class='table_a'>
            <div class='note'>
              <div class='note-title'>
                <%= table.title %>
              </div>
              Owner:
                <%= User.find(table.user_id).username %>
                <% if table.user_id==@user.id %>
              <div class='delete'>
                <%= link_to "X", "/delete_table/" + table.id.to_s %>
              </div>
              <% end %>
              </div>
            </a>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
