* {
    font-size: 18px;
}
a,
a:visited{
    text-decoration: none;
    color: #000;
}
a:hover {
  text-decoration: none;
  color: #48BF84;
}
.card {
    min-height: 60vh;
    max-width: 24rem;
    border-radius: 2rem;
    box-shadow: 0 0 .8rem #bfbfbf;
    border: none;
    background: #fafafa;
}
.login_input {
    width: 80%;
    border: none;
    background: white;
}
.login_input:focus {
    outline: none !important;
    border-bottom: solid 1px #48BF84;


}
.login_input:focus-within div {
    box-shadow: 0 0 2rem #bfbfbf;
}
.card-title,
.card-subtitle {
    color: #48BF84;
    text-align:center;
    margin-top: 1rem;
}
.login_using {
    text-decoration: none;

}

svg {
    margin-right: .5rem;
}
.card-item {
    width: 90%;
    box-shadow: 0 0 .5rem #bfbfbf;
}
.create_table,
.create_note {
  border-bottom: 2px solid #a0a0a0;
  transition: 0.2s;
  width: auto;
}
.create_note {
  max-width: 20rem;
}
.create_table:hover,
.create_note:hover {
  box-shadow: 0 0 .8rem #bfbfbf;
  transition: 0.2s;
  border-bottom: 2px solid white;
}
.card-item,
.create_table,
.create_button,
.create_note {
    padding: .5rem;
    border-radius: 2.2rem;

    margin: auto;
    margin-top: 1rem;
    background: white;
}
.inv_code {
  background: #48BF84;
  color: #48BF84;
}
.inv_code:hover,
.inv_code:active,
.inv_code:focus {
  color: white;

}
.create_table,
.create_note {
    padding: 1.5rem;
}
.table_title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #48BF84;
}
.table_a:hover {
  color: #000;
}
.login_with_container {

    margin-top: 2rem;
    align-items: center;
}
body {

    align-items: center;
}
.note {
  text-align: center;
  min-height: 13rem;
  border: 1px solid #48BF84;
  margin: 1rem;
  position: relative;
    padding-bottom: 2rem;
    border-radius: 0.2rem;
    background: #E0FFFF;
}
.note-title {
  min-height: 3rem;
  background: #48BF84;
  margin-bottom: .5rem;

}
.navbar {
  background-color: #48BF84 !important;
}
.navbar-brand > svg,
.navbar-item > svg {
  color: white;
}
.note:hover > .delete {
  visibility: visible;
}
.delete {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-weight: 900;
  margin: auto;
  background: #48BF84;
  margin-top: 0;

}
.delete > a {
  color: #e00b04;
}
/* The container */
.container-b {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-b input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-shadow: 0 0 .5rem #e0e0e0;
    border-radius: .2rem;
}

/* On mouse-over, add a grey background color */
.container-b:hover input ~ .checkmark {
    background-color: #e0e0e0;
    transition: 0.2s;
}

.container-b input:checked ~ .checkmark {
    background-color: #48BF84;
    box-shadow: 0 0 .5rem #fff;
    transition: 0.2s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-b input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-b .checkmark:after {
    left:9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border-radius: 0.1rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

svg {
    color: #48BF84;
}
.create_table {
  display: flex;
}
.table-sector {
  border: 1px solid #48BF84;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: none;
  border-bottom: none;
  border-radius: 0.2rem;
  height: auto;
  width: 19rem;
  margin-top: 10px;
  transition: 0.2s;
}
.table-sector:hover {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem 0 #a0a0a0;
  transition: 0.2s;
}
.login_button,
.create_button {
    width: 50%;
    margin-left: 2rem;
    border: solid 1px #48BF84;
    box-shadow: 0 0.3rem 0 #48BF84;
}
.login_button:active,
.create_button:active {
    margin-top: 1.3rem;
    margin-bottom: -0.3rem;
    box-shadow: 0 0 0 #48BF84;
}
